<!DOCTYPE html>
<html>
<body>
<h1>Add Page</h1>
<p style="color: red;">{{error}}</p>
<p><a href={{"/fridge/{}".format(fid)}}>Back</a> | <a href="/dashboard">Dashboard</a></p>
<form action={{"/add/{}".format(fid)}} method="post">
    <p>Item Name</p>
    <select name="content" id="content" onchange="contentChanged()">
        {%for content in contents%}
            <option value={{content.conid}}>{{content.content}}</option>
        {%endfor%}
        <option value="-1">Add New</option>
    </select>
    <p>Amount</p>
    <input type="text" name="amount" />
    <p>Unit</p>
    <select name="unit" id="unit">
        <option value='unit'>unit</option>
        <option value='kg'>kg</option>
        <option value='g'>g</option>
        <option value='mg'>mg</option>
        <option value='l'>l</option>
        <option value='ml'>ml</option>
        <option value='oz'>oz</option>
    </select>
    <p>Price</p>
    <input type="text" name="price" />
    <p>Store</p>
    <input type="text" name="store" />
    <p>Expiry</p>
    <input id="expiry" type="date" name="expiry" />
    <input type="submit" name="submit" id="submit" />
</form>
</body>
<script>
    var date = document.getElementById("expiry");
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
    dd = '0' + dd;
    }

    if (mm < 10) {
    mm = '0' + mm;
    } 
        
    today = yyyy + '-' + mm + '-' + dd;
    date.setAttribute("min", today);

    function contentChanged() {
        var choiceGroup = document.getElementById('content');
        if (choiceGroup.value == -1) {
            var htmlString = '<input type="text" name="content" /><p>Category</p><input type="text" name="category" />'
            var htmlObject = document.createElement('div');
            htmlObject.innerHTML = htmlString;
            
            parent = choiceGroup.parentElement;
            parent.removeChild(choiceGroup);
    
            parent.insertBefore(htmlObject, parent.childNodes[2]);
        }
        var choiceGroupCat = document.getElementById('category');
    }
</script>
</html>