<!DOCTYPE html>
<html>
<body>
<h1>Add Page</h1>
<p style="color: red;">{{error}}</p>
<p><a href={{"/fridge/{}".format(fid)}}>Back</a> | <a href="/dashboard">Dashboard</a></p>
<form action={{"/add/{}".format(fid)}} method="post">
    <p>Item Name</p>
    <input type="text" name="name" />
    <p>Amount</p>
    <input type="text" name="amount" />
    <p>Unit</p>
    <input type="text" name="unit" />
    <p>Price</p>
    <input type="text" name="price" />
    <p>Store</p>
    <input type="text" name="store" />
    <p>Category</p>
    <select name="category" id="category" onchange="categoryChanged()">
        {%for category in categories%}
            <option value={{category.catid}}>{{category.name}}</option>
        {%endfor%}
        <option value="-1">Add New</option>
    </select>
    <p>Expiry</p>
    <input id="expiry" type="date" name="expiry" />
    <input type="submit" name="submit" id="submit" />
</form>
</body>
<script>
    var date = document.getElementById("expiry");
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
    dd = '0' + dd;
    }

    if (mm < 10) {
    mm = '0' + mm;
    } 
        
    today = yyyy + '-' + mm + '-' + dd;
    date.setAttribute("min", today);
    function categoryChanged() {
        var choiceGroup = document.getElementById('category');
        if (choiceGroup.value == -1) {
            parent = choiceGroup.parentElement;
            parent.removeChild(choiceGroup);
            var inputElement = document.createElement('input');
            inputElement.type = "text";
            inputElement.name = "category";
            parent.insertBefore(inputElement, document.getElementById("submit"));
        }
    }
</script>
</html>