<!DOCTYPE html>
<html>
<body>

<h1>Dashboard Page</h1>
<p>Welcome {{ username }}</p>
<p><a href="/profile">Edit Profile</a> | <a href="/logout">Logout</a></p>
<p style="color: red;">{{error}}</p>
<table border="1">
    <tr>
        <th>Fridge</th>
        <th>Model</th>
        <th>Date Added</th>
    </tr>
    {%for fridge in fridges%}
        <tr>
            <td><a href={{"/fridge/{}".format(fridge.fid)}}>{{fridge.nickname}}</a></td>
            <td>{{fridge.model}}</td>
            <td>{{fridge.since}}</td>
        </tr>
    {%endfor%}
</table>
<h3>Spending Summary:</h3>
<p>Total money spent on current contents across all fridges: ${%for row in total_spending%}{%for col in row%}{{col}}{%endfor%}{%endfor%} </p>
<p>Total money spent on current contents in each fridge:</p>
<table>
    <tr>
        <th>Fridge</th>
        <th>Spending</th>
    </tr>
    {%for fridge in spending%}
        <tr>
            <td>{{fridge.nick}}</td>
            <td>${{fridge.sum}}</td>
        </tr>
    {%endfor%}
</table>
<p>Total money spent on current contents in each category across all fridges:</p>
<table>
    <tr>
        <th>Category</th>
        <th>Spending</th>
    </tr>
    {%for fridge in spending_cat%}
        <tr>
            <td>{{fridge.cat}}</td>
            <td>${{fridge.sum}}</td>
        </tr>
    {%endfor%}
    {%for fridge in not_spent%}
        <tr>
            <td>{{fridge.name}}</td>
            <td>$0</td>
        </tr>
    {%endfor%}
</table>
<h3>Add new fridge:</h3>
<form action="/dashboard" method="POST">
    <label>Fridge Model</label>
    <input type="text" name="model" />
    <label>Nickname</label>
    <input type="text" name="nickname" />
    <input type="submit" value="Add" />
</form>
</body>
</html>