<!DOCTYPE html>
<html>
<body>
<h1>Fridge Page - {{nickname}}</h1>
<p><a href="/dashboard">Dashboard</a> | <a href={{"/add/{}".format(fid)}}>Add Item</a> | <a href={{"/shopping/{}".format(fid)}}>Create Shopping List</a></p>
<p style="color: red;">{{error}}</p>
<table border="1">
    <tr>
        <th>Content</th>
        <th>Amount</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Store</th>
        <th>Category</th>
    </tr>
    {%for row in data%}
        <tr>
            <td>{{row.name}}</td>
            <td>{{row.amount}}</td>
            <td>{{row.unit}}</td>
            <td>{{row.price}}</td>
            <td>{{row.store}}</td>
            <td>{{row.category}}</td>
            <td><a href={{"/edit?fid={}&conid={}&catid={}".format(row.fid, row.conid, row.catid)}}>Edit</a> <a href={{"/delete?fid={}&conid={}&catid={}".format(row.fid, row.conid, row.catid)}}>Delete</a></td>
        </tr>
    {%endfor%}
</table>
<h2>Temperature Settings</h2>
    <form action={{"/fridge/{}".format(fid)}} method='POST'>
        {%for setting in settings%}
            <p>{{setting.name}}: <input type="number" value={{setting.temp}} name={{setting.locid}} /></p>
        {%endfor%}
        <input type="submit" />
    </form>
</body>
</html>